@import "./body.css";
@import "./buttons.css";
@import "./hrefs.css";
@import "./logos.css";
@import "./titles.css";


#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}